@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/182428240217.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh

}
header{
    color: rgb(85, 79, 79);
    background-color: rgba(14, 1, 128, 0);
    text-align: center;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
    width: 100%;
    gap: 2rem;

}
.navbar_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 80px;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
.navbar_menu {
    display: flex;
    align-items: left;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
    z-index: -1000;

}
.navbar_item {
    height: 80px;
    
}
.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 14px;;
    
    
}
.navbar_links:hover {
    color: #7f37c9;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home h2 {
    color: rgb(170, 169, 169);
    padding: 20px;
    font-size: 20px;
}
#home h1 {
    color: rgb(170, 169, 169);
    text-align: center;
    font-size: 50px;
}
#home p {
    color: #ddd;
    font-size: 20px;
}
#home #conteiner1{
    
    
    display: block;
    justify-content: center;;

    max-width: 100%;
}
.Pontos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 1000;
}
#home #conteiner3{
    border-width: 1px;
    border-color: black;
    display: flex;
    justify-content: center;
    gap: 10rem;
    text-decoration: none;
    max-width: 100%;
    min-width: 20%;
    height: 100%;
    

}
.figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;;
}
.slider{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
    
}
.slides {
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;

}
.slide {
    width: 25%;
    transition: 1s;
    position: relative;
}
.navigation-manual {
    position: absolute;
    width: 400px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #7f37c9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto 5px;
    transition: all 1s ease;
}
.manual-btn:hover {
    background: #7f37c9;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}
.navigation-auto div {
    border: 2px solid #301ba5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 0px;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
    padding: 5px;

}
#radio1:checked ~ .navigation-auto .auto-btn1  {
    background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #fff;
}
#foto1 {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 700px;
    object-fit: cover;
}
#foto2 {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 700px;
    justify-content: center;
    align-items: center;

}
#foto3 {
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 800px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
#foto4 {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 700px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 100;
    transition: all 0.2s;
    border-radius: 20px;
    height: 100%;
    padding: 0.5rem;
    background-color: rgba(36, 35, 35, 0.767);
}

footer{
    width: 100%;
    color: rgb(56, 48, 48);
    height: 100px;
    position: relative;
    bottom: 0%;
}
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    list-style: none;
;
}
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-weight: 100;
    transition: all 0.2s;
}

#instagram{
    background: linear-gradient(#7f37c9,#ff2992, #ff9807);
    background-size: 200%;
    background-position: 0% 50%;
    animation: 5s ease infinite;
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    transition: all ease 0.2s;
    border-radius: 20px;
    padding: 0.5rem;
}
#instagram:hover {
    transform: scale(1.05);
}
#whatsapp {
    background-color: #25d366;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    transition: all ease 0.2s;
    
}
#whatsapp:hover {
    transform: scale(1.05);
}
#linkedin {
    background-color: #4267b3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
#linkedin:hover {
    transform: scale(1.05);
}
#footer_copyrights {
    display: flex;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    font-size: 0.9rem;
    font-weight: 100;
    padding: 1rem 0;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .navbar_container { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
      
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        position: absolute;
        top: -1000px;
        height: 50vh;
        opacity: 0;
       transition: all 0.5s ease;
       z-index: -1;
       width: 100%;
        }
    .navbar_menu.active {
        background-color: #131313;
        top: 0%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: 1;
        font-size: 1.6rem;
        width: 100%;
        height: fit-content;
    }   
    .toggle .bar{
        width: 25px;
        font-size: 2rem;
        height: 3px;
        background:white;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        z-index: 9999;


    }   
    .navbar_item {
        width: 100%;
    }
    .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    
    }

    #mobile-menu-icon {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }
    .toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu-icon.is-active {
        z-index: 9999;
    }
    #mobile-menu-icon.is-active .bar:nth-child(2) {
        opacity: 0;
    }     
    #mobile-menu-icon.is-active .bar:nth-child(1) {
       transform: translateY(8px) rotate(45deg);
    }     
    #mobile-menu-icon.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    header  {
        display: none;
    }
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .home h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .home p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .home #conteiner1 {
        display: block;
        justify-content: center;
        max-width: 100%;
    }
    #home #conteiner3 {
        display: block;
        justify-content: center;
        max-width: 100%;
        min-width: 20%;
        height: 100%;
    }
    .figure {
        display: block;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
    .figure #foto1 {
        width: 100%;
        height: 100%;
        margin-right: 20px;
    }
    .figure #foto2 {
        width: 100%;
        height: 100%;
        margin-left: 20px;
    }
    .habilidades {
        display: block;
        justify-content: center;
        margin-top: 1.5rem;
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: 100;
        transition: all 0.2s;
        border-radius: 20px;
        height: 100%;
        padding: 0.5rem;
        background-color: rgba(36, 35, 35, 0.767);
    }
    .habilidades:hover {
        background-color: rgba(36, 35, 35, 0.767);
        transform: scale(1.05);
        transition: all 0.2s;
    }
    .habilidades:active {
        transform: scale(0.95);
        transition: all 0.2s;

}

    footer {
        width: 100%;
        color: rgb(56, 48, 48);
        height: 100px;
        position: relative;
        bottom: 0%;

        
    }
    .social-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-right: 3rem;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 100;
        list-style: none;
    }
    .social-links:hover {
        color: #7f37c9;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
    }
    #footer_contacts h1 {
        margin-bottom: 0.75rem;
    }
    .links {
        display: block;
        justify-content: center;
        margin-top: 1.5rem;
        font-size: 50px;
        color: white;
        text-decoration: none;
        font-weight: 100;
        transition: all 0.2s;
    }
}
@media screen and (max-width: 768px) {
    .navbar_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
      
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        position: absolute;
        top: -1000px;
        height: 50vh;
        opacity: 0;
       transition: all 0.5s ease;
       z-index: -1;
       width: 100%;
    }
}